.projectLabel {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  z-index: 1000;
  font-family: var(--font-geist-mono);

  .label,
  .experiment {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--color-white);
  }

  .experiment {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(16px);
    padding: 0.5rem 1rem;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}
