.clientPreview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 75%;
  z-index: 0;
  pointer-events: none;

  @media (max-width: 1000px) {
    width: 100%;
    height: 100%;
  }
}
