.titleBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: var(--color-white);
  background-color: var(--color-background);

  .title {
    width: 50%;
    text-align: center;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }
}
