.progressBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);

  .progress {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-white);
    transform: translateX(35%) scaleY(0);
    transform-origin: top center;
  }
}
