.fractalGlassPage {
  font-family: var(--font-manrope);
  background-color: var(--color-black);
  color: var(--color-white);

  h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    line-height: 1;
  }

  p {
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 550;
    line-height: 1;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    & > img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .heroContent {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 2rem;

      & > h1 {
        width: 60%;
      }

      @media (max-width: 1000px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;

        & > h1 {
          width: 100%;
        }
      }
    }
  }
}
