.scrollSliderPage {
  --color-background: #0f0f0f;

  font-family: var(--font-inter);

  h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
    line-height: 1.2;
  }

  p,
  span {
    font-family: var(--font-geist-mono);
  }

  p {
    font-weight: 400;
    font-size: 0.85rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1000px) {
    h1 {
      font-size: 2rem;
      letter-spacing: 0;
    }
  }
}
